{% extends 'base.html' %}
{% load static %}

{% block title %}
    Posts
{% endblock title %}

{% block contents %}

    <h1>Posts</h1>
    <div class="list-container">
        {% for post in post_list %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'detail' post.id %}">{{ post.title }}</a></h5>
                    <h6 class="card-subtitle">{{ post.category }}</h6>
                    <p class="card-text">{{ post.body | truncatechars:250 }}</p>

                    <div class="author-div">
                        <p class="card-text">AUTHOR: {{ post.author }}</p>
                        <p class="card-text">DATE: {{ post.created_on }}</p>
                    </div>

                    <a href="{% url 'detail' post.id %}" class="card-btns">Read More</a>
                    <a href="{% url 'delete' post.id %}" class="card-btns">Delete</a>
                    <a href="{% url 'edit' post.id %}" class="card-btns">Edit</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock contents %}